/*
* @descripcion: Archivo de estilos globales
* Este archivo se encarga de importar los estilos globales de la aplicación
* y de importar los estilos de la librería de diseño de Satoshi.
*/
@import url("satoshi.css");
@import "tailwindcss";

@theme {
  --color-hero-principal: #0465c4; /* Azul principal */
  --color-fondo-principal: #212121; /* Fondo general oscuro */
  --color-fondo-secundario: #181818; /* Alternativa más oscura */
  --color-acento: #4A90E2; /* Azul moderno */
  --color-texto-principal: #F5F5F5; /* Blanco suave */
  --color-texto-secundario: #B0B0B0; /* Gris claro */
  --color-card: #252525; /* Fondo de tarjetas */
}

body {
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  font-family: "Satoshi", sans-serif;
}

.regular {
  font-family: "Satoshi-Regular", sans-serif;
}

.italic {
  font-family: "Satoshi-Italic", sans-serif;
}

.bold {
  font-family: "Satoshi-Bold", sans-serif;
}

.boldItalic {
  font-family: "Satoshi-BoldItalic", sans-serif;
}

.light {
  font-family: "Satoshi-Light", sans-serif;
}

.lightItalic {
  font-family: "Satoshi-LightItalic", sans-serif;
}

.medium {
  font-family: "Satoshi-Medium", sans-serif;
}

.mediumItalic {
  font-family: "Satoshi-MediumItalic", sans-serif;
}

.black {
  font-family: "Satoshi-Black", sans-serif;
}

.blackItalic {
  font-family: "Satoshi-BlackItalic", sans-serif;
}

.variable {
  font-family: "Satoshi-Variable", sans-serif;
}

.variableItalic {
  font-family: "Satoshi-VariableItalic", sans-serif;
}