---
import '../styles/global.css';
import Header from '../ui/Header';
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Fabian Anstro | Portfolio web</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Portfolio web de Fabian Anstro">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    </head>
    <body class="bg-fondo-principal text-texto-principal">
        <Header client:load />
        <slot />
    </body>
</html>

